<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/nav1.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/nav2.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/nav3.css" />
    <title>404</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/animated.css">
    <link rel="stylesheet" href="../static/fontawesome-free-5.12.1-web/css/all.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" href="../static/css/home.css">

    <script src="../static/fontawesome-free-5.12.1-web/js/all.js"></script>

    <script src="../static/js/nav1.js"></script>
    <style>
        .custom-button {
            background-color: #31d7a9;
            padding: 20px 61px;
            font-weight: 600;
            color: #ffffff;
            text-transform: uppercase;
            border-radius: 48px;
            display: inline-block;
        }
    </style>

</head>



<body>

    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>


    <!-- /container -->
    <!-- <button id="back-to-top-btn"><i class="fas fa-angle-double-up"></i></button> -->


    <section id="section2" class="pb-5 " style="min-height: 100vh;">
        <div class="container pt-4 text-center">
            <div class="text-center"> <img src="../static/images/404.svg" width="700px" class="img-fluid" alt=""></div>

            <div>
                <h1 class="text-center text-white">Oops.. Looks Like You Got Lost :(</h1>
            </div>
            <div class="text-center pt-2">
                <a href="/" id="" class="custom-button text-center abc text-white mr-5" style="text-decoration-line: none;">Back To Home <i class="fa fa-arrow-right ml-4" aria-hidden="true"></i></a>
            </div>

        </div>
    </section>

    <script src="../static/js/nav2.js"></script>
    <script src="../static/js/nav3.js"></script>
    <script src="../static/js/main.js "></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/popper.js"></script>

    <script src="../static/js/aos.js"></script>
    <script>
        setTimeout(function() {
            $('.preloader').fadeToggle();

        }, 1500);
    </script>

</body>

</html>